# **Exploração e análise de dados de crédito com SQL**



## Sobre os dados:

Os dados representam informações de clientes de um banco e contam com as seguintes colunas:

* idade = idade do cliente
* sexo = sexo do cliente (F ou M)
* dependentes = número de dependentes do cliente
* escolaridade = nível de escolaridade do clientes
* salario_anual = faixa salarial do cliente
* tipo_cartao = tipo de cartao do cliente
* qtd_produtos = quantidade de produtos comprados nos últimos 12 meses
* iteracoes_12m = quantidade de iterações/transacoes nos ultimos 12 meses
* meses_inativo_12m = quantidade de meses que o cliente ficou inativo
* limite_credito = limite de credito do cliente
* valor_transacoes_12m = valor das transações dos ultimos 12 meses
* qtd_transacoes_12m = quantidade de transacoes dos ultimos 12 meses


A tabela foi criada no AWS Athena junto com o S3 Bucket com uma versão dos dados disponibilizados em: https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset

## Exploração dos dados 


### 1) Visão geral da tabela como um todo:


**Quantos registros existem na tabela?**

**Query:** SELECT COUNT(*) AS qtde_linhas FROM credito;
![Query 1](imagens/query_1.png)
> Temos um total de 2564 linhas

**obs:** essa base de dados é apenas uma amostra de uma base de dados maior. A base completa pode ser encontrada no link abaixo da descrição dos campos.


**Como é a disposição dos dados na tabela?**

**Query:** SELECT * FROM credito LIMIT 10;
![Query 2](imagens/query_2.png)
> Dados aparentemente bem dispostos, sendo que algumas colunas possuem valores nulos (NA) que serão analisados mais pra frente.


**Qual o tipo de cada coluna?**

**Query:** DESCRIBE credito;
![Query 3](imagens/query_3.png)
> Aparentemente cada coluna está com seu respectivo tipo correto.